appdirs==1.4.0
blinker==1.4
cffi==1.9.1
cryptography==1.7.2
docutils==0.13.1
enum34==1.1.6
Fabric==1.13.1
feedgenerator==1.9
idna==2.2
ipaddress==1.0.18
ipython==2.4.1
Jinja2==2.9.5
Markdown==2.6.8
MarkupSafe==0.23
numpy==1.12.0
packaging==16.8
pandas==0.19.2
paramiko==2.1.1
pelican==3.7.1
pkg-resources==0.0.0
pyasn1==0.2.2
pycparser==2.17
Pygments==2.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
rpy2==2.8.5
singledispatch==3.4.0.3
six==1.10.0
smartypants==2.0.0
typogrify==2.0.7
Unidecode==0.4.20
